[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-mongoengine = "*"
ldap3 = "*"
pendulum = "*"
flask = "*"
flask-admin = "*"
flask-login = "*"

[dev-packages]
coverage = "*"

[requires]
python_version = "3.6"
