#main {
    margin-top: 1em;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  stroke-width: 1px;
}

.x.axis path {
  display: none;
  stroke-width: 1px;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 3.0px;
}
