
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.container {
    max-width: 680px;
    width: auto;
}

.content {
    margin-top: 40px;
}

.logout {
    margin-top: 8px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  stroke-width: 1px;
}

.x.axis path {
  display: none;
  stroke-width: 1px;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 3.0px;
}
