{% extends "site.html" %}
{% block content %}

<div class="container">
    <form method="POST" action="/administrate/payment" class="form-signin">
        {{ payment_form.hidden_tag() }}
        <h2 class="form-signin-heading">Add payment</h2>
            {{ payment_form.uid(class="form-control", placeholder="Name", autofocus=True) }}
            {{ payment_form.amount(class="form-control", placeholder="Amount") }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>
</div>

<div class="container">
    <form method="POST" action="/administrate/consumption" class="form-signin">
        {{ consumption_form.hidden_tag() }}
        <h2 class="form-signin-heading">Add consumption</h2>
            {{ consumption_form.uid(class="form-control", placeholder="Name") }}
            {{ consumption_form.units(class="form-control", placeholder="Units") }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>
</div>

<div class="container">
    <form method="POST" action="/administrate/expenses" class="form-signin">
        {{ expense_form.hidden_tag() }}
        <h2 class="form-signin-heading">Add consumption</h2>
            {{ expense_form.description(class="form-control", placeholder="Description") }}
            {{ expense_form.amount(class="form-control", placeholder="Amount") }}
            {{ expense_form.date(class="form-control", placeholder="Date") }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>
</div>


<h2>List of Shame:</h2>
<ul>
{% for entry in list_of_shame %}
    <li>{{entry}}</li>
{% endfor %}
</ul>

{% endblock %}
