{% extends "site.html" %}

{% block admin_navbar %}
<li class="nav-item dropdown">
  <a href="#"
       class="dropdown-toggle nav-link"
       data-toggle="dropdown"
       role="button"
       aria-haspopup="true"
       aria-expanded="false"><span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li class="dropdown-item"><a href="{{ url_for('admin.index') }}">Adminpanel</a>
    {# <li><a href="{{ url_for("administrate_consumption_list") }}">Consumelist</a> #}
    {# <li><a href="{{ url_for("administrate_service_list") }}" target="_blank">service.pdf</a> #}
    {# <li><a href="{{ url_for("administrate_list") }}" target="_blank">list.pdf</a> #}
  </ul>
</li>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h2>Add ...</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <form method="POST" action="{{ url_for('submit_payment')}}" class="form-signin">
        {{ payment_form.hidden_tag() }}
        <h3 class="form-signin-heading">Payment</h3>
        <div class="form-group">
          {{ payment_form.uid(class="form-control", placeholder="Name", autofocus=True) }}
        </div>
        <div class="form-group">
          {{ payment_form.amount(class="form-control", placeholder="Amount") }}
        </div>
        <button class="btn btn-primary btn-block" type="submit">Submit</button>
    </form>
  </div>
  <div class="col-md-4">
    <form method="POST" action="/administrate/consumption" class="form-signin">
        {{ consumption_form.hidden_tag() }}
        <h3 class="form-signin-heading">Consumption</h3>
        <div class="form-group">
          {{ consumption_form.uid(class="form-control", placeholder="Name") }}
        </div>
        {% for u in consumption_form.units %}
        <div class="form-group">
          {{ u(class="form-control", placeholder=u.label) }}
        </div>
        {% endfor %}
        <button class="btn btn-primary btn-block" type="submit">Submit</button>
    </form>
  </div>
  <div class="col-md-4">
    <form method="POST" action="/administrate/expenses" class="form-signin">
        {{ expense_form.hidden_tag() }}
        <h3 class="form-signin-heading">Expense</h3>
        <div class="form-group">
          {{ expense_form.description(class="form-control", placeholder="Description") }}
        </div>
        <div class="form-group">
          {{ expense_form.amount(class="form-control", placeholder="Amount") }}
        </div>
        <div class="form-group">
          {{ expense_form.date(class="form-control", placeholder="Date") }}
        </div>
        <button class="btn btn-primary btn-block" type="submit">Submit</button>
    </form>
  </div>
</div>


<h2>List of Shame</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Amount / €</th>
      <th>Name</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    {% for entry in listofshame %}
    <tr>
      <td>{{ '%2.2f' % (entry.balance / 100) }}</td>
      <td>{{ entry.name }}</td>
      <td>{{ entry.score }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<ul>
</ul>
{% endblock %}
