{% extends "admin.html" %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h2>Add Multiple Consumptions</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <form method="POST" action="{{ url_for('administrate_consumption_list') }}" class="form-horizontal">
      {{ form.hidden_tag() }}
      {% for uform in form.users %}
      <div class="row form-group">
        <div class="col-xs-4">
          <label>{{ uform.consumptions.label }}</label>
          {{ uform.user(class="form-control") }}
        </div>
        <div class="col-xs-8">
          {% for c in uform.consumptions %}
          <div class="col-xs-6">
            {{ c(class="form-control") }}
          </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
      <button class="btn btn-primary btn-block" type="submit">Submit</button>
    </form>
  </div>
</div>
{% endblock %}
