<!DOCTYPE html>
<html>
  <head>
    <title>Ministry of Coffee Affairs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('coffee.static', filename='bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('coffee.static', filename='site.css') }}" rel="stylesheet" />
    <script src="{{ url_for('coffee.static', filename='d3.min.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('coffee.static', filename='site.js') }}" charset="utf-8"></script>
  </head>

  <body>
    {% block body %}{% endblock %}
  </body>
  <script src="{{ url_for('coffee.static', filename='jquery.js') }}"></script>
  <script src="{{ url_for('coffee.static', filename='tether.min.js') }}"></script>
  <script src="{{ url_for('coffee.static', filename='bootstrap.min.js') }}"></script>
  {% block scripts %}
  {% endblock %}
</html>
