{% extends "site.html" %}
{% block content %}
<div class="row">
  <div class="col-xs-12">
    <h1>State of the Coffee</h1>
    <table class="table">
      <tbody>
        <tr>
          <td>Actual Budget</td>
          <td>{{ current_budget | euros }}</td>
        </tr>
        <tr>
          <td>Target Budget</td>
          <td>{{ target_budget | euros }}</td>
        </tr>
        <tr>
          <th colspan="2">Prices</th>
        </tr>
        {% for price in coffee_prices %}
        <tr>
          <td>{{ price[1] }}</td>
          <td>{{ price[0]|euros }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div id="global-graph" style="height: 100%; width: 100%;" class="plotly-graph-div"></div>
    <div id="coffee-hours" style="height: 100%; width: 100%;" class="plotly-graph-div"></div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
  Plotly.d3.json(window.location.origin + window.location.pathname + 'global_api/global_data/', function(err, response){
    var data = response.data;
    var trace = {
      y: data.map(x => x.amount / 100),
      x: data.map(x => x.date),
      type: 'date',
    };
    var layout = {
      title: 'Kaffeekasse',
      xaxis: {
        title: 'Datum',
      },
      yaxis: {
        title: 'Kassenstand / €',
      },
    };
    Plotly.newPlot('global-graph', [trace], layout, {displayModeBar: false});
  });

  Plotly.d3.json(window.location.origin + window.location.pathname + 'global_api/consumption_times/', function(err, response){
    var data = response.data;
    var trace = {
      type: "histogram",
      x: data,
      name: 'Beliebte Zeiten',
      xbins: {
        start: 6 * 3600,
        end: 20 * 3600,
        size: 1800,
      },
    };
    var ticktext = [6, 8, 10, 12, 14, 16, 18, 20]
    var tickvals = ticktext.map(x => x * 3600);
    var layout = {
      title: 'Beliebte Zeiten',
      xaxis: {
        autorange: false,
        range: [6 * 3600, 20 * 3600],
        tickvals: tickvals,
        ticktext: ticktext,
        title: 'Tageszeit / Stunden',
      },
      yaxis: {
        title: '#Kaffee / 30 Minuten',
      },
    };
    Plotly.newPlot("coffee-hours", [trace], layout, {displayModeBar: false});
  });
</script>
{% endblock %}
