{% extends "site.html" %}
{% block content %}

<h2>Coffee History <small>{{ user.name }}</small></h2>
<div class="row">
  <div class="col-sm-8">
    <table class="table">
    <tr>
      <td>Current balance</td>
      <td class="{{ balance_type }}">{{ balance | euros }}</td>
    </tr>
    <tr>
      <td>Last service</td>
      <td>{{ user.last_service.date or "never" }}</td>
    </tr>
    </table>
    <div id="personal_graph"></div>
  </div>
  <div class="col-sm-4">
    <h2>Transactions</h2>
    <div id="personal_table"></div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('coffee.static', filename='site.js') }}"></script>
<script>
  Plotly.d3.json('{{ url_for('coffee.global_api', function='personal_data') }}', function(err, response){
    var data = response.data;
    var trace = {
      y: data.map((a, i) => (a.amount + data.slice(0, i).map(a => a.amount).reduce((a, b) => a + b, 0)) / 100),
      x: data.map(x => x.date),
      type: 'date',
    };
    var layout = {
      title: 'Persönliches Guthaben',
      xaxis: {
        title: 'Datum',
      },
      yaxis: {
        title: 'Guthaben / €',
      },
    };
    Plotly.newPlot('personal_graph', [trace], layout, {displayModeBar: false});
  });

  draw_table('{{ url_for('coffee.global_api', function='personal_data') }}', ['date', 'amount'], '#personal_table')
</script>
{% endblock %}

