{% extends "site.html" %}
{% block content %}

<div class="row">
  <div class="col-sm-8" style="text-align: center;">
    <h2>Current balance: <span class="{{ balance_type }}">{{ balance | euros }}</span></h2>
    <div id="personal_graph"></div>
    <script>
      draw_graph('/personal_data.json', '#personal_graph', 400, 400)
    </script>
  </div>
  <div class="col-sm-4">
    <h2>Transactions</h2>
    <div id="personal_table"></div>
    <script>
      draw_table('/personal_data.json', ['date', 'amount'], '#personal_table')
    </script>
  </div>
</div>


{% endblock %}
